body {
    font-family: Arial, sans-serif;
    background-color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.container {
    background-color: black;
    padding: 20px;
    border-radius: 8px;
}

#datepicker {
    margin-right: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}

#astronomyInfo {
    margin-top: 20px;
    width: 70vw;
}
